# shell/.env.example
# Keycloak
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=mf-dashboard
KEYCLOAK_CLIENT_ID=shell-client
KEYCLOAK_CLIENT_SECRET=shell-secret

# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NODE_ENV=development

# URLs dos módulos remotos
MF_ANALYTICS_URL=http://localhost:3001
MF_USERS_URL=http://localhost:3002

# APIs dos módulos
ANALYTICS_API_URL=http://localhost:3001
USERS_API_URL=http://localhost:3002
